<div id="header">
    <nav class="header--navbar">
        <div class="container">
            <div class="navbar">
                <div class="navbar-header">
                    <!-- <div class="header--custom-btn hidden-lg hidden-md"> <a href="/hireMeModal" class="btn--default" data-toggle="modal"><i class="fa fa-user-plus"></i></a> </div><button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="/headerNav" aria-expanded="false" aria-controls="headerNav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> -->
                    <a class="logo navbar-brand" href="/">
                        <!-- <div class="logo--img"> <img src="" class="img-responsive" alt="" width="50" height="50"> </div> -->
                        <div class="logo--content">
                            <h1>Vadivel</h1>
                            <p><strong>UX/UI</strong> DESIGNER</p>
                        </div>
                    </a>
                </div>
                <!-- <div class="header--custom-btn hidden-sm hidden-xs"> <a href="/hireMeModal" class="btn--default" data-toggle="modal">HIRE ME</a> </div> -->
                <div id="headerNav" class="header--nav navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right AnimateScroll">
                        <li class=""><a routerLink="/home">HOME</a></li>
                        <li class=""><a routerLink="/about">ABOUT</a></li>
                        <li class=""><a routerLink="/services">SERVICES</a></li>
                        <li class=""><a routerLink="/works">WORKS</a></li>
                        <li class=""><a routerLink="/feedback">FEEDBACK</a></li>
                        <li class="active"><a routerLink="/blog">BLOG</a></li>
                        <li><a routerLink="/contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>